.hello-world {
  text-align: center;

  h2 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-align: center;
  }

  a {
    padding: 3px;
    color: #097fa5;
    text-decoration: none;
    transition: 0.4s;
  }

  p {
    color: #333;
  }
}
